


#orderer button {
    margin-right: 10px;
    text-align: center;
}

#orderer p {
    font-size: 45px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: center;
}


.table {
    margin-right: 100px;
}