@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}



#sidebar ul li a {
    text-align: right;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}


#sidebar ul li{
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-bottom: 1px solid #47748b;
    
}

#sidebar p {
    font-size: 30px;
}

#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar {
        margin-left: 0;

}
